input, textarea {
	&::placeholder {
		transition: opacity .2s ease;
		opacity: 1;
	}
	
	&:focus::placeholder {
		opacity: 0;
	}
}

input[hidden] {
	position: absolute;
	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	border: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.input, .textarea {
	padding: 16px 24px;

	background: var(--shade-2);
	border-radius: 12px;

	line-height: 150%;
	&::placeholder {
		color: var(--tertiary);
	}

	transition: color .2s ease;

	color: var(--secondary-2);
	&:focus {
		color: var(--white);
	}

	&._alt {
		background: var(--shade-lighter);
	}
}



.textarea {
	resize: none;
}

.select {
	position: relative;
	&._alt select {
		background: var(--shade-lighter);
	}

	select {
		cursor: pointer;
		width: 100%;
		-webkit-appearance: none;

		padding: 16px 54px 16px 24px;

		background: var(--shade-2);
		border-radius: 12px;

		line-height: 150%;
		color: var(--tertiary);
		:focus {
			color: var(--white);
		}

	}

	& svg {
		position: absolute;
		right: 20px; top: 50%;
		transform: translate(0,-50%);
		fill: var(--secondary);
		pointer-events: none;
	}
}


